
div#UploadCockailForm{
    background-color: black;
    border-radius: 10px;
}

div#toastCorfimacionUaploadCocktail {
    color: black;
}

button#btnModalIngrediente {
    margin-top: 5px;
    margin-bottom: 10px;
}

button#btnCargarCocktail {
    margin-top: 5px;
    margin-bottom: 10px;
}

div {
    color: white;
}

.format-pre pre {
    background: #49483e;
    color: #f7f7f7;
    padding: 10px;
    font-size: 14px;
}

img#imgUploadCocktail {
    width: 100%;
    height:90%;
    border-radius: 40px;
    margin-top: 15px;
}

div#containerUploadCocktail {
    margin-top: 20px;
}